$mobile-width:         600px;
$tablet-width:         738px;
$laptop-width:         1249px;
$desktop-width:        1439px;
$desktop-large-width:  1919px;

$main-font:      'PT Sans', sans-serif;
$secondary-font: 'Bebas Neue Regular', sans-serif;

$deep-ocean:     #42567A;
$summer-sky:     #3877EE;
$azure:          #5D5FEF;
$rose:           #EF5DA8;
$slate-shade:    #929AA9;
$cold-steel:     #9BA5BA;
$dawn-grey:      #E2E5EC;
$nordic-breeze:  #D0D5E0;
$white-smoke:    #F4F5F9;
$basic-white:    #FFFFFF;
$gentle-azure:   #C7CDD9;

