$mobile-width:   600px;
$desktop-width:  1440px;

$main-font:      'Roboto', sans-serif;
$secondary-font: 'Bebas Neue', sans-serif;

$deep-ocean:     #42567A;
$summer-sky:     #3877EE;
$azure:          #5D5FEF;
$rose:           #EF5DA8;

$white-smoke:    #F4F5F9

