.chronicle-events__year {
  color: $summer-sky;
  font-family: $secondary-font;
  font-size: 25px;
  line-height: 120%;
}

.chronicle-events__description {
  margin-top: 15px;
  margin-bottom: 0;
  color: $deep-ocean;
  font-size: 20px;
  line-height: 30px;
}
