.chronicle-events {
  position: relative;
  display: none;
  flex-wrap: wrap;

  &--active {
    display: flex;
  }
}

.chronicle-events__list {
  position: relative;
  display: flex;
  column-gap: 80px;
  width: 2920px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 20;

  @media (max-width: 1439px){
    column-gap: 33px;
  }

  @media (max-width: 738px) {
    column-gap: 15px;
  }
}

.chronicle-events__item {
  width: 320px;

  @media (max-width: 738px) {
    width: 280px;
  }
}

.chronicle-events__item:nth-of-type(2) {


  @media (max-width: 738px) {
    width: 360px;
  }
}

.chronicle-events__year {
  color: $summer-sky;
  font-family: $secondary-font;
  font-size: 25px;
  line-height: 120%;
}

.chronicle-events__description {
  margin-top: 15px;
  margin-bottom: 0;
  color: $deep-ocean;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 738px) {
    font-size: 18px;
  }
}

.chronicle-events__event {
  max-width: 1280px;
  overflow: hidden;
}

.chronicle-events__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: $basic-white;
  filter: drop-shadow(0px 0px 15px rgba(56, 119, 238, 0.10));

  &--prev img {
    transform: rotate(-180deg);
  }

  &--prev {
    left: -60px;
    top: 41px;
  }

  &--next {
    right: -56px;
    top: 41px;
  }

  @media (max-width: 1249px) {
    &--prev {
      left: -46px;
    }
  }

  @media (max-width: 899px) {
    display: none;
  }
}
