.historical-events {
  padding-left: 160px;

  @media (max-width: 1600px) {
    padding-left: 0;
  }
}

.historical-events__container {
  min-height: 1080px;
  padding-top: 167px;
  padding-bottom: 104px;
  border-left: 1px solid $dawn-grey;
  border-right: 1px solid $dawn-grey;
  overflow: hidden;

  @media (max-width: 1439px) {
    padding-top: 164px;
    padding-left: 75px;
  }

  @media (max-width: 1249px) {
    padding-top: 158px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 738px) {
    padding-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.historical-events__title {
  position: relative;
  margin: 0;
  max-width: 430px;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;

  &:before {
    position: absolute;
    top: 7px;
    left: -81px;
    content: '';
    width: 6px;
    height: 120px;
    background: linear-gradient(to bottom, $summer-sky 0%, $rose 100%);
  }

  @media (max-width: 1439px) {
    &:before {
      left: -75px;
    }
  }

  @media (max-width: 1249px) {
    font-size: 46px;
    max-width: 371px;

    &:before {
      left: -41px;
      top: 0px;
    }
  }

  @media (max-width: 738px) {
    font-size: 40px;
    max-width: 336px;

    &:before {
      left: -41px;
      top: -10px;
    }
  }
}
