
.interval-time {
  position: relative;
  display: flex;
  padding-top: 0;
  margin: -87px auto 55px;
  width: auto;
  height: 572px;

  @media (max-width: 1439px) {
    width: auto;
    height: 543px;
    margin-top: -51px;
  }

  @media (max-width: 1249px) {
    width: auto;
    margin-top: -10px;
  }

  @media (max-width: 738px) {
    margin-top: 34px;
    margin-bottom: 41px;
    height: 523px;
  }
}

.interval-time__period {
  position: relative;
  top: 210px;
  left: 2%;
  display: flex;
  column-gap: 92px;
  transform: rotate(90deg) translate(-50%);
  z-index: 5;

  @media (max-width: 1439px) {
    top: 187px;
    left: 0;
    column-gap: 81px;
  }

  @media (max-width: 1249px) {
    left: 11px;
    top: 260px;
    column-gap: 81px;
  }

  @media (max-width: 738px) {
    left: 7px;
    top: 236px;
    column-gap: 67px;
  }
}

.interval-time__year {
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -4px;

  &--start {
    color: $azure;
  }

  &--end {
    color: $rose;
  }

  @media (max-width: 1439px) {
    font-size: 170px;
    line-height: 130px;
  }

  @media (max-width: 1249px) {
    font-size: 145px;
    line-height: 110px;
  }

  @media (max-width: 738px) {
    font-size: 120px;
    line-height: 90px;
  }
}

.interval-time__circle {
  position: absolute;
  width: 531px;
  height: 530px;
  top: 0;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  border-radius: 50%;
  border: 1px solid $nordic-breeze;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-color: $dawn-grey;
  }

  &::before {
    top: -87%;
    left: 50%;
    width: 1px;
    height: 1440px;
    transform: translate(-50%);
  }

  &::after {
    top: 50%;
    left: -73%;
    width: 1450px;
    height: 1px;
  }

  @media (max-width: 1439px) {
    left: 52%;
    width: 446px;
    height: 450px;

    &::before {
      left: 46%;
      top: -120%;
      height: 1940px;
    }

    &::after {
      top: 49%;
      left: -100%;
    }
  }

  @media (max-width: 1249px) {
    left: 50%;

    &::before {
      left: 50%;
    }

    &::after {
      top: 50%;
    }
  }

  @media (max-width: 738px) {
    width: 380px;
    height: 380px;

    &::after {
      left: -121%;
    }
  }
}

.interval-time__point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interval-time__name {
  position: relative;
  display: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $deep-ocean;
  z-index: 20;
}

.interval-time__circle-button {
  position: relative;
  padding: 0;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  background-color: $deep-ocean;
  z-index: 10;

  span {
    display: none;
  }

  &--active {
    width: 56px;
    height: 56px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid $slate-shade;
    color: $deep-ocean;
    background-color: $white-smoke;

    span {
      display: block;
    }
  }
}

.interval-time__circle-button--active + .interval-time__name {
  display: block;
}

.interval-time__circle-button--active#circle-button1 {
  transform: rotate(86deg) translate(296px);

  span {
    transform: rotate(3deg);
  }

  @media (max-width: 1439px) {
    transform: rotate(86deg) translate(258px);
  }
}

.interval-time__circle-button--active#circle-button1+ .interval-time__name  {
  transform: rotate(90deg) translate(331px) rotate(0deg);

  @media (max-width: 1439px) {
    transform: rotate(90deg) translate(290px) rotate(0deg);
  }
}

#circle-button1 {
  transform: rotate(90deg) translate(260px);

  @media (max-width: 1439px) {
    transform: rotate(94.6deg) translate(220px);
  }

  @media (max-width: 1249px) {
    transform: rotate(90deg) translate(220px);
  }

  @media (max-width: 738px) {
    transform: rotate(90deg) translate(185px);
  }

}

.interval-time__circle-button--active#circle-button2 {
  transform: rotate(144deg) translate(280px);

  span {
    transform: rotate(-52deg);
  }

  @media (max-width: 1439px) {
    transform: rotate(140deg) translate(251px) rotate(0);
  }
}

.interval-time__circle-button--active#circle-button2 + .interval-time__name  {
  transform: rotate(142deg) translate(288px) rotate(-52deg);

  @media (max-width: 1439px) {
    transform: rotate(136deg) translate(260px) rotate(-45deg);
  }
}

#circle-button2 {
  transform: rotate(150.4deg) translate(262px);

  @media (max-width: 1439px) {
    transform: rotate(151.4deg) translate(220px);
  }

  @media (max-width: 1249px) {
    transform: rotate(150deg) translate(220px);
  }

  @media (max-width: 738px) {
    transform: rotate(151deg) translate(187px);
  }
}

.interval-time__circle-button--active#circle-button3 {
  transform: rotate(209deg) translate(229px);

  span {
    transform: rotate(-114deg);
  }

  @media (max-width: 1439px) {
    transform: rotate(213deg) translate(195px);

    span {
      transform: rotate(-112deg);
    }
  }
}

.interval-time__circle-button--active#circle-button3 + .interval-time__name  {
  transform: rotate(198deg) translate(242px) rotate(-107deg);

  @media (max-width: 1439px) {
    transform: rotate(199deg) translate(204px) rotate(-108deg);
  }
}

#circle-button3 {
  transform: rotate(213deg) translate(268px);

  @media (max-width: 1439px) {
    transform: rotate(213deg) translate(226px);
  }

  @media (max-width: 738px) {
    transform: rotate(213deg) translate(192px);
  }
}

.interval-time__circle-button--active#circle-button4 {
  transform: rotate(269.7deg) translate(233px);

  span {
    transform: rotate(213deg) rotate(179deg);
  }

  @media (max-width: 1439px) {
    transform: rotate(267.7deg) translate(194px);

    span {
      transform: rotate(213deg) rotate(-29deg);
    }
  }
}

.interval-time__circle-button--active#circle-button4 + .interval-time__name  {
  transform: rotate(269.7deg) translate(208px) rotate(180deg);

  @media (max-width: 1439px) {
    transform: rotate(269.7deg) translate(187px) rotate(180deg);
  }
}

#circle-button4 {
  transform: rotate(270deg) translate(270px);

  @media (max-width: 1439px) {
    transform: rotate(265.5deg) translate(229px);
  }

  @media (max-width: 1249px) {
    transform: rotate(270deg) translate(229px);
  }

  @media (max-width: 738px) {
    transform: rotate(270deg) translate(194px);
  }
}

.interval-time__circle-button--active#circle-button5 {
  transform: rotate(337deg) translate(250px);

  span {
    transform: rotate(112deg);
  }

  @media (max-width: 1439px) {
    transform: rotate(337deg) translate(214px);
  }
}

.interval-time__circle-button--active#circle-button5 + .interval-time__name  {
  transform: rotate(340deg) translate(252px) rotate(109deg);

  @media (max-width: 1439px) {
    transform: rotate(339deg) translate(255px) rotate(109deg);
  }
}

#circle-button5 {
  transform: rotate(329.6deg) translate(267px);

  @media (max-width: 1439px) {
    transform: rotate(329.6deg) translate(226px);
  }

  @media (max-width: 1249px) {
    transform: rotate(330.6deg) translate(225px);
  }

  @media (max-width: 738px) {
    transform: rotate(329deg) translate(192px);
  }
}

.interval-time__circle-button--active#circle-button6 {
  transform: rotate(30.5deg) translate(275px);

  span {
    transform: rotate(60deg);
  }

  @media (max-width: 1439px) {
    transform: rotate(45.5deg) translate(242px);

    span {
      transform: rotate(45deg);
    }
  }

  @media (max-width: 1249px) {
    transform: rotate(43deg) translate(242px);
  }

  @media (max-width: 738px) {
    transform: rotate(43deg) translate(214px);
  }
}

.interval-time__circle-button--active#circle-button6 + .interval-time__name  {
  transform: rotate(33deg) translate(283px) rotate(56deg);

  @media (max-width: 1439px) {
    transform: rotate(47deg) translate(248px) rotate(43deg);
  }

  @media (max-width: 1249px) {
    transform: rotate(45deg) translate(248px) rotate(45deg);
  }

  @media (max-width: 738px) {
    transform: rotate(44deg) translate(216px) rotate(45deg);
  }
}

#circle-button6 {
  transform: rotate(24deg) translate(263px);
}


.interval-time__navigation {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.interval-time__counter {
  display: block;
  margin-bottom: 15px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: $deep-ocean;
}


.interval-time__nav-buttons {
  display: flex;
  column-gap: 20px;
}

.interval-time__nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $cold-steel;
  background-color: inherit;

  &--next img {
    transform: rotateY(180deg);
  }
}
